In [1]:
import numpy as np
import pandas as pd

## Series/Seriler

In [2]:
benimSozlugum = {"Selim":50 ,"Lale":40,"Mehmet":30}

In [3]:
pd.Series(benimSozlugum)

Selim     50
Lale      40
Mehmet    30
dtype: int64

In [4]:
type(pd.Series(benimSozlugum)) # pandas veri biliminin exceli

pandas.core.series.Series

In [5]:
benimYaslarim = [50,40,30]

In [6]:
benimİsimlerim = ["Selim","Lale","Mehmet"]

In [11]:
pd.Series(benimYaslarim) # pandas serisi oluşturduk indexe göre sıralar

0    50
1    40
2    30
dtype: int64

In [12]:
pd.Series(benimYaslarim,benimİsimlerim)

Selim     50
Lale      40
Mehmet    30
dtype: int64

In [13]:
pd.Series(data=benimYaslarim,index=benimİsimlerim) #data veri  index sıra

Selim     50
Lale      40
Mehmet    30
dtype: int64

In [14]:
numpyDizisi = np.array([50,40,30])

In [15]:
numpyDizisi

array([50, 40, 30])

In [17]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int32

In [18]:
pd.Series(numpyDizisi,benimİsimlerim)

Selim     50
Lale      40
Mehmet    30
dtype: int32

In [19]:
pd.Series(["Selim","Lale","Mehmet"],[1,2,3])

1     Selim
2      Lale
3    Mehmet
dtype: object

In [22]:
yarismaSonucu1 = pd.Series([10,5,1],["Selim","Lale","Mehmet"])

In [23]:
yarismaSonucu1

Selim     10
Lale       5
Mehmet     1
dtype: int64

In [24]:
yarismaSonucu2 = pd.Series([20,10,8],["Selim","Lale","Mehmet"])

In [25]:
yarismaSonucu2

Selim     20
Lale      10
Mehmet     8
dtype: int64

In [26]:
yarismaSonucu2["Selim"]

20

In [30]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [31]:
sonSonuc

Selim     30
Lale      15
Mehmet     9
dtype: int64

In [32]:
farkliSeries = pd.Series([3,2,1],["a","b","c"])

In [33]:
farkliSeries

a    3
b    2
c    1
dtype: int64

In [34]:
farkliSeries2 = pd.Series([7,5,6,4,3],["a","c","d","e","f"])

In [35]:
farkliSeries2

a    7
c    5
d    6
e    4
f    3
dtype: int64

In [36]:
farkliSeries

a    3
b    2
c    1
dtype: int64

In [38]:
farkliSeries+farkliSeries2  # aynı indexler toplandı diğerleri NaN oldu

a    10.0
b     NaN
c     6.0
d     NaN
e     NaN
f     NaN
dtype: float64