In [7]:
import pandas as pd 
import seaborn as sbn 
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [8]:
dataFrame= pd.read_excel("bisiklet.xlsx")

In [9]:
dataFrame.head()

   Fiyat  Bisiklet Özellik1 Bisiklet Özellik2
0  236.4                  1        2024-01-02
1  230.1                  2        2024-01-03
2  233.3                  3        2024-01-04
3  239.2                  4        2024-01-05
4  242.6                  5        2024-01-08

In [10]:
sbn.pairplot(dataFrame)

NameError: name 'sbn' is not defined